.main {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.products-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 20px;
}

.icon {
  width: 200px;
}